$red: #BE1E2D;
$green: #009444;
$yellow: #FFF200;
$black: #000000;
$white: #ffffff;
$gray: #6B6C6F;

@font-face {font-family:"Digital-7 Mono";src:url("fonts/digital-7__mono_.eot?") format("eot"),url("fonts/digital-7__mono_.woff") format("woff"),url("fonts/digital-7__mono_.ttf") format("truetype"),url("fonts/digital-7__mono_.svg#Digital-7Mono") format("svg");font-weight:normal;font-style:normal;}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

//Basic Structure
*, ::after, ::before {
	box-sizing: border-box;
}
div {
	display: block;
}
.container {
	width: 100%;
	max-width: 600px;
	padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
	text-align: center;
	font-family: 'Titillium Web', sans-serif;
}
.row {
	display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.stick {
	position: relative;
    width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	-ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
.rowSticker, .sticker {
	span {
		color: $white;
		padding: 4px 8px;
		font-family: 'Orbitron', sans-serif;
		text-transform: uppercase;
		letter-spacing: 2px;
	}
}
.rowSticker {
	margin: 8px auto 10px auto;
	span {
		background-color: $black;
	}
}
.sticker {
	margin-bottom: 4px;
	span {
		background-color: $red;
	}
}

.display {
	background-color: $black;
	font-family:"Digital-7 Mono";
	font-size: 4em;
	line-height: 1;
	width: 100%;
	border: none;
	text-align: center;
}
#timeStart .display {
	color: $red;
}
#timeDest .display {
	color: $green;
}

.meter {
	width: 100%;
}

#timeStart-ampm {
	margin-top: 25px;
}
.light {
	span {
		width: 16px; height: 16px;
		border-radius: 50%;
		background-color: $black;
		display: block;
		margin: 3px auto;
	}
}
.ampm-am .light-am span { background-color: $red; }
.ampm-pm .light-pm span { background-color: $red; }



#stick1 .stick-hdr { background-color: $green; }
#stick2 .stick-hdr { background-color: $yellow; }
#stick3 .stick-hdr { background-color: $red; }
.stick-hdr {
	margin-bottom: 4px;
	span {
		background-color: $white;
		padding-left: 15px; padding-right: 15px;
	}
}
#timeAlarms {
	.display {
		color: $yellow;
	}
}


.meter {
	width: 100%;
	background-color: $black;
}

//meter svg 
.meter-outline {
	fill: #939598;
}
.ticker, .ticker-wrapper {
	transform-origin: 175px 175px;
	transform: rotate(135deg);
}
.ticker-brown {
	fill:#8B5E3C;
}
.meter-clip {
	clip-path:url(#progress-clip);
}
.ticks {
	width: 100%;
	height: 25px;
	border-top: 1px solid $white;
	border-left: 1px solid $white;
	border-right: 1px solid $white;
	position: relative;
	margin-bottom: 15px;
}
.tick {
	fill:none;stroke:#FFFFFF;stroke-miterlimit:10;
}
.progress-clip-wrapper {
	transform: rotate(45deg);
	transform-origin: 175px 175px;
}
.progress-white {
	stroke-width: 10px;
	stroke: $white;
	stroke-dasharray: 728.84888;
	stroke-dashoffset: -182.2122;
	fill: none;
}
.progress-green  {
	stroke-width: 20px;
	stroke: $green;
	stroke-dasharray: 728.84888;
	stroke-dashoffset: 728.84888;
	fill: none;
}
.progress-yellow  {
	stroke-width: 30px;
	stroke: $yellow;
	stroke-dasharray: 728.84888;
	stroke-dashoffset: 728.84888;
	fill: none;
}
.progress-red  {
	stroke-width: 40px;
	stroke: $red;
	stroke-dasharray: 728.84888;
	stroke-dashoffset: 728.84888;
	fill: none;
}


.progressBar {
	display: block;
	position: relative;
	div {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
	}
}
.barWhite {
	width: 100%;
	height: 5px;
	background-color: $white;
}
.barGreen {
	height: 7px;
	background-color: $green;
}
.barYellow {
	height: 9px;
	background-color: $yellow;
}
.barRed {
	height: 11px;
	background-color: $red;
}
.meter-wrapper {
	width: 300px;
	height: 300px;
	position: relative;
	margin: 0 auto;

	svg {
		width: 92%;
		height: 92%;
		margin: 4%;
		display: block;
		position: relative;
	}
}
.meter-backer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 175px;
}

.time-input-wrapper {
	margin-top: -50px;
	position: relative;
	z-index: 200;
	padding-top: 2rem;
	padding-bottom: 2rem;
}
//Metal Texture : http://simurai.com/lab/2011/08/21/brushed-metal
.metal {
  background-color: hsl(0,0%,90%);
  box-shadow: inset hsla(0,0%,15%,  1) 0  0px 0px 4px, /* border */
    inset hsla(0,0%,15%, .8) 0 -1px 5px 4px, /* soft SD */
    inset hsla(0,0%,0%, .25) 0 -1px 0px 7px, /* bottom SD */
    inset hsla(0,0%,100%,.7) 0  2px 1px 7px; /* outer HL */ 
  
  transition: color .2s;
  
  &.linear {
	background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    
    linear-gradient(180deg, hsl(0,0%,78%)  0%, 
    hsl(0,0%,90%) 47%, 
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);
  }

  &.radial {
	background-image: -webkit-radial-gradient(  50%   0%,  8% 50%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(  50% 100%, 12% 50%, hsla(0,0%,100%,.6) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient(   0%  50%, 50%  7%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    -webkit-radial-gradient( 100%  50%, 50%  5%, hsla(0,0%,100%,.5) 0%, hsla(0,0%,100%,0) 100%),
    
    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   3%, hsla(0,0%,  0%,.1) 3.5%),
    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%,.1) 7.5%),
    -webkit-repeating-radial-gradient( 50% 50%, 100% 100%, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.2) 2.2%),
    
	-webkit-radial-gradient( 50% 50%, 200% 50%, hsla(0,0%,90%,1) 5%, hsla(0,0%,85%,1) 30%, hsla(0,0%,60%,1) 100%);
	
	&::before, &::after {
		content: "";
		top: 0;
		left: 0;
		position: absolute;
		width: inherit;
		height: inherit;
		border-radius: inherit;
		
		/* fake conical gradients */
		background-image: -webkit-radial-gradient(  50%   0%, 10% 50%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
			-webkit-radial-gradient(  50% 100%, 10% 50%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
			-webkit-radial-gradient(   0%  50%, 50% 10%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%),
			-webkit-radial-gradient( 100%  50%, 50% 06%, hsla(0,0%,0%,.1) 0%, hsla(0,0%,0%,0) 100%);
	}

	&::before {
		transform: rotate( 65deg);
	}
	&::after {
		transform: rotate( -65deg);
	}
  }
}

//SVG styles
.label-text {
	text-anchor: middle;
	font-family:'Orbitron-Medium';
	text-transform: uppercase;
	font-size:15px;
	fill: $white;
	letter-spacing: 3px;
}
.st0{opacity:0.35;fill:#BE1E2D;}
.st1{font-family:'Digital-7 Mono';}
.st2{font-size:100.8623px;}
.st3{fill:#BE1E2D;}

.ampm-light {
	fill: $black;
}
.am .am-light {
	fill: $red;
}
.pm .pm-light {
	fill: $red;
}

//Ticker
.ticker {
	height: 15px;
	width: 2px;
	background-color: blue;
}

//Time Inputs
.time-input {
	position: relative;
}
.readout-wrapper {
	width: 100%;
	height: 0;
	position: relative;
	padding-top: 20%;
}
.readout-svg {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
}
.react-datepicker-wrapper {
	opacity: 0;
	width: 100%;
	height: 0;
	padding-top: 20%;
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
}
.react-datepicker__input-container, .react-datepicker__input-container input {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}